.input-primary {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}

.btn-input {
  background: none;
  border: none;
}

.input-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: none;
}
