.main {
  height: 424px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  background-color: #263a49;
}

.test {
  display: flex;
  overflow-x: scroll;
}

.newsl__container--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
